
<p>
  login works!
</p>
<div class="container">
  <hr>
      <button type="button"
              class="btn btn-success btn-lg btn-block">
              <a href="/ticket" title="Go to ticket page">TICKET</a>
      </button>
      <hr>
        <button type="button"
                class="btn btn-success btn-lg btn-block">
                <a href="/invoice" title="Go to ticket page">INVOICE</a>

        </button>
  <hr>
          <button type="button"
                  class="btn btn-success btn-lg btn-block">
                  <a href="/report" title="Go to ticket page">REPORT</a>

          </button>

  <hr>
  </div>
<!--
<ul>
<li><app-ticket></app-ticket></li>
<li><app-invoice></app-invoice></li>
<li><app-report></app-report></li>
</ul>
-->
