
<p>
  login works!
</p>
<div class="container">
  <hr>
      <button type="button"
              class="btn btn-primary btn-lg btn-block">
              TICKET
      </button>
      <hr>
        <button type="button"
                class="btn btn-primary btn-lg btn-block">
                INVOICE
        </button>
  <hr>
          <button type="button"
                  class="btn btn-primary btn-lg btn-block">
                  REPORT
          </button>

  <hr>
  </div>

<ul>
<li><app-ticket></app-ticket></li>
<li><app-invoice></app-invoice></li>
<li><app-report></app-report></li>
</ul>
