<p>
  ticket works!
</p>
<ul>
  <!--
<li><app-flight> </app-flight></li>
<!--<li><app-passenger></app-passenger></li>
<li> <app-price> </app-price></li>-->

<button type="button"
        class="btn btn-success btn-lg btn-block">
        <a href="/flightInfo" title="Go to flight page">Flight Information</a>
</button>
<button type="button"
        class="btn btn-success btn-lg btn-block">
        <a href="/passengerInfo" title="Go to passenger page">Passenger Information</a>
</button>
<button type="button"
        class="btn btn-success btn-lg btn-block">
        <a href="/priceInfo" title="Go to price page">Price Information</a>
</button>
</ul>
